/* Phone/Default View */
body {
    margin: .5rem;
    background-color: #93b8d7;
    color: white;
    
}

main {
    text-align: center;
    margin-top: 23vh;
    font-family: 'Kaushan Script', fantasy;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 2rem;
    margin-top: 2em;
}

#social-links {
    display: none;
}

nav a {
    color: white;
    font-size: 2.5rem;
    margin-right: .5em;
    
}

footer {
    display: none;
}

/* 598 view */

@media (min-width: 598px) 
{
    #social-links {
        display: block;
    }

    #hamburger-menu {
        display: none;
    }
}

/* 768 view */

@media (min-width: 768px) 
{
    body {
        background-image: url('../img/splash-md.jpg');
        background-position: center;
        background-size: cover;
    }

    html {
        height: 100%;
    }

    footer {
        display: block;
        position: fixed;
        bottom: 0;
        right: 0;
        
    }

    main {
        text-shadow: 1px 1px #153c43;
    }
}

/* 992 view */

@media (min-width: 992px)
{
    body {
        background-image: url('../img/splash-lg.jpg');
    }

    nav a {
        font-size: 1.5rem;
    }

    h1 {
        font-size: 5rem;
    }

    h2 {
        font-size: 3rem;
    }
}

/* 1200 view */

@media (min-width: 1200px)
{
    body {
        background-image: url('../img/splash-xl.jpg');
    }
}